<mat-sidenav-container class="master-container">
  <mat-sidenav #sidenav mode="side">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let categoria of categorias">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{categoria.nome}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-row>
          <a routerLink="/desenvolvedoras"><p>Cadastrar nova Desenvolvedora</p></a>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    
    <!-- Inicio Toolbar -->
    <mat-toolbar color="primary">
      <button class="btn"  (click)="sidenav.toggle()"><i class="fa-solid fa-bars"></i></button>
      <span class="nomedaPohaDaloja">Lojinha</span>
    </mat-toolbar>
    <!--Fim toolbar-->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>